body{margin: 0 !important; padding: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: rgb(4, 1, 29);}
header{width: 100%; height: fit-content; margin: auto; padding: 18px; background-color: rgb(26, 30, 66);}
header>*{color: rgb(206, 205, 241); text-align: center;}
table{height: 100%; width: 100%;}
html, body, main{height: 100%;}
#itemsToBuy{background-color: rgb(12, 8, 49); width: 30%;}
#itemList{background-color: rgb(4, 1, 29); width: 70%;}